@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    -webkit-font-smoothing: antialiased;
    background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
    background-attachment: fixed;
}

::-webkit-scrollbar {
    // width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(38, 255, 0, 0.308);
    border-radius: 10px;

}